{% extends "layout.html" %}

{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'uniteks/css/style.css' %}">
    <style>
        h1.h3 {
            font-family: 'Arial', sans-serif;
            color: #333;
            margin-bottom: 20px; 
        }

        .list-unstyled li {
            margin-bottom: 15px; 
            color: #555;
            font-size: 16px;
        }
        
        .list-unstyled li strong {
            color: #000;
        }
        
        .card {
            display: flex;
            flex-direction: row; 
            align-items: flex-start; 
            border: 1px solid #ddd;
            margin-bottom: 20px;
            border-radius: 5px;
        }

        .card img {
            max-width: 50px; 
            height: auto; 
            border-right: 1px solid #ddd; 
        }
        
        .card-body {
            padding: 15px;
            width: calc(100% - 150px); 
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        .card-title {
            font-size: 18px;
            font-weight: bold;
        }
        
        .card-text {
            font-size: 14px;
            color: #666;
        }
    </style>
{% endblock css_files %}

{% block title %}
   {{ event.title }}
{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <img class="img-fluid rounded" src="{{ event.image.url }}" alt="{{ event.model }}">
                    <div class="card-body">
                        <h1 class="h3">{{ event.model }}</h1>
                        <ul class="list-unstyled">
                            <li><strong>Order No:</strong> {{ event.orderNo }}</li>
                            <li><strong>Error:</strong> {{ event.error }}</li>
                            <li><strong>Supplier:</strong> {{ event.supplier }}</li>
                            <li><strong>Error Source:</strong> {{ event.errorSource }}</li>
                            <li><strong>Detection Method:</strong> {{ event.detectionMethod }}</li>
                            <li><strong>Action:</strong> {{ event.action }}</li>
                            <li><strong>Result:</strong> {{ event.result }}</li>
                            <li><strong>Action For Repeat:</strong> {{ event.actionForRepeat }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
